# Dependencies
node_modules
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build artifacts
dist
build
out

# Git
.git
.gitignore

# Environment and Secrets
.env
.env.*
.npmrc
.yarnrc

# IDE and System files
.vscode
.idea
.DS_Store
*.swp
